body {
  font-family: 'Noto Sans', sans-serif;
}

.publication-title {
  font-family: 'Google Sans', sans-serif;
}

.publication-authors {
  font-family: 'Google Sans', sans-serif;
}

.link-block a {
  margin-top: 3px;
  margin-bottom: 3px;
}

.section {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.hero-body {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.footer {
  padding: 1.5rem;
}

.table {
  font-size: 0.85rem;
}

.table th,
.table td {
  text-align: center;
  vertical-align: middle;
}
